/* Css for RMarkdown */

body{
 
 background-color: #D3D3D3;
  
}

div{
  
  
  text-align: justify;
  
  text-justify: inter-word;
  
  font-size: 20px;
  
  font-family: Arial;
}

a {
  
  text-decoration: none;
  
  color: purple;
  
}


a:hover{
  
  color: darkblue;
  
}